include description
header.main-header
    .main-header__left
        .logo
            img(src="/images/150.png" alt="logo")
    .main-header__right.top-data
        .counters
            .counters__item.counter
                .counter__number 8788
                .counter__name posts
            .counters__item.counter
                .counter__number 23.7m
                .counter__name followers
            .counters__item.counter
                .counter__number 94
                .counter__name following
        .top-btns-box
            button.btn-primary.top-btns-box__item.top-btns-box__message Message
            button.btn-primary.top-btns-box__item.top-btns-box__account
                img(src="/images/icons/18.png" alt="account")
            button.btn-primary.top-btns-box__item.top-btns-box__dropdown
                img(src="/images/icons/18.png" alt="dropdown")

