include ../../common/description
- const followers = [{"name": "fellaini"}, {"name": "iamzlatanibrahimovic"}, {"name": "paulpogba"}];

div.description-box
+description("Manchester United", true, "Sports Team", followers)
    .text.description__text Follow our&nbsp;
        a(href="#")
            | #Treble99
        | &nbsp;journey on&nbsp;
        a(href="#") #MUTV
        | :
        .text
            a(href="#") manutd.co/KOV
        .text.description__tags
            a(href="#")
                | Old Trafford
            .text ,&nbsp;
            a(href="#")
                | Manchester
            .text ,&nbsp;
            a(href="#") United Kingdom M16 ORA
