.main-content
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
    .content-item
        img(src="/images/293.png")
