.video-content
    .video-content__item.video-content__item_igtv
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")
    .video-content__item.video-content__item
        img(src="/images/77.png" alt="video content")

