@font-face {
  font-family: "SF Regular";
  src: url("/fonts/SF/SFUIDisplay-Regular.ttf");
}

@font-face {
  font-family: "SF Medium";
  src: url("/fonts/SF/SFUIDisplay-Medium.ttf");
}

@font-face {
  font-family: "SF Bold";
  src: url("/fonts/SF/SFUIDisplay-Bold.ttf");
}
