.title {
  text-align: center;
  margin: 0;

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_1 {
    font-weight: 300;
  }

  &_2 {
    font-weight: 300;
  }

  &_3 {
    font-weight: 300;
  }

  &_4 {
    font-weight: 300;
  }
}